/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

/* Media query */
h1{
    color: red;
}

@media screen and (max-width: 500px){
    h1{
        color: blue;
    }
}

/* min-width */

@media screen and (min-width: 800px){
    p{
        color: green;
    }
}